<nav >
<div class="nav-wrapper">
  <a href="#" class="brand-logo center">Quiz</a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li>
      <a  (click)="SignOut()">Signout</a>
    </li>
  </ul>
</div>
</nav>
    <div class="row" *ngIf="quizService.qns">
        <div class="col s8 offset-s2">
           <h2>Welcome {{data}} !</h2>
            <span style="font-weight: bold;color: blue;margin-left: 440px;">Time Taken : {{quizService.displayTime()}}</span>
            <div class="progress">
                <div class="determinate" [style.width.%]="(quizService.qnProgress+1)*10"></div>
            </div>
            <div class="card light-blue">
                <div class="card-content white-text">
                    <span class="card-title">{{quizService.qnProgress+1}}</span>
                    <p>{{quizService.qns[quizService.qnProgress].Qn}}</p>
                    <div *ngIf="quizService.qns[quizService.qnProgress].ImageName!=null">
                        <img class="center" [src]="quizService.rootUrl+'/Images/'+quizService.qns[quizService.qnProgress].ImageName" style="width: 350px;height: 200px">
                    </div>
                </div>
                <div class="card-action">
                    <ul class="collection answer">
                        <ng-container *ngFor="let option of quizService.qns[quizService.qnProgress].Options;let i = index">
                            <li *ngIf="option !=null" class="collection-item" (click)="Answer(quizService.qns[quizService.qnProgress].QnID,i)">
                                {{option}}
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
    </div>
