<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="team-section">
    <h1>Our Team</h1>
    <span class="border"></span>
    <div class="ps">
    <a href="#p1" ><img src="/assets/images/img7.jpg" alt="" style="width: 17%; " id="roundcorners"></a>
    <a href="#p2" ><img src="/assets/images/img7.jpg" alt="" style="width: 17%; " id="roundcorners"></a>
    <a href="#p3" ><img src="/assets/images/img7.jpg" alt="" style="width: 17%; " id="roundcorners"></a>
    </div>
    <div class="section" id="p1">
        <span class="name">Janie Harrison</span>
        <span class="border"></span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quos veniam quia esse, necessitatibus ratione, nam consequuntur ipsum officia consequatur recusandae odit minima enim neque, repellendus non aperiam hic mollitia?</p><br/><br/>
    </div>
    <div class="section" id="p2">
        <span class="name">Prachi Mehta</span>
        <span class="border"></span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quos veniam quia esse, necessitatibus ratione, nam consequuntur ipsum officia consequatur recusandae odit minima enim neque, repellendus non aperiam hic mollitia?</p><br/><br/>
    </div>
    <div class="section" id="p3">
        <span class="name">Zhang YunLong</span>
        <span class="border"></span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quos veniam quia esse, necessitatibus ratione, nam consequuntur ipsum officia consequatur recusandae odit minima enim neque, repellendus non aperiam hic mollitia?</p><br/>
    </div>
    </div>
</body>
</html>