<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TryTest</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
  
  <div class="pimg1">
    <div class="ptext">
      <span class="border">
        TryTest Webpage
      </span>
      <br/><br/>
      <h4><b>Learn Grow Repeat...</b></h4>
    </div>
  </div>
  <section class="section section-light">
    <h2>Section 1</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati minus, dignissimos iste, laborum ratione ad officia impedit veniam blanditiis quia harum saepe in aliquam. Ab, voluptas excepturi nesciunt delectus eum, deleniti laboriosam inventore perspiciatis distinctio tenetur rem odit nemo aperiam expedita officia illo incidunt consequuntur? Dolorum, molestiae provident odit aliquid saepe minima qui eos eligendi nostrum, facere nihil dolores expedita error quaerat esse a ipsa veniam ratione ipsum numquam illo autem! Consectetur cumque aliquid, tempora quam minima eaque, quidem blanditiis aut, accusamus earum perferendis natus voluptatem? Veritatis, eligendi dolorem nemo autem inventore laboriosam provident sapiente dicta esse quaerat praesentium!
    </p>
  </section>
  <div class="pimg2">
    <div class="ptext">
      <span class="border">
        Take Quiz's 
      </span>
    </div>
  </div>
  <section class="section section-dark">
    <h2>Section 2</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati minus, dignissimos iste, laborum ratione ad officia impedit veniam blanditiis quia harum saepe in aliquam. Ab, voluptas excepturi nesciunt delectus eum, deleniti laboriosam inventore perspiciatis distinctio tenetur rem odit nemo aperiam expedita officia illo incidunt consequuntur? Dolorum, molestiae provident odit aliquid saepe minima qui eos eligendi nostrum, facere nihil dolores expedita error quaerat esse a ipsa veniam ratione ipsum numquam illo autem! Consectetur cumque aliquid, tempora quam minima eaque, quidem blanditiis aut, accusamus earum perferendis natus voluptatem? Veritatis, eligendi dolorem nemo autem inventore laboriosam provident sapiente dicta esse quaerat praesentium!
    </p>
  </section>
  <div class="pimg3">
    <div class="ptext">
      <span class="border">
        Practice as many times you want!
      </span>
    </div>
  </div>
  <section class="section section-dark">
    <h2>Section 3</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati minus, dignissimos iste, laborum ratione ad officia impedit veniam blanditiis quia harum saepe in aliquam. Ab, voluptas excepturi nesciunt delectus eum, deleniti laboriosam inventore perspiciatis distinctio tenetur rem odit nemo aperiam expedita officia illo incidunt consequuntur? Dolorum, molestiae provident odit aliquid saepe minima qui eos eligendi nostrum, facere nihil dolores expedita error quaerat esse a ipsa veniam ratione ipsum numquam illo autem! Consectetur cumque aliquid, tempora quam minima eaque, quidem blanditiis aut, accusamus earum perferendis natus voluptatem? Veritatis, eligendi dolorem nemo autem inventore laboriosam provident sapiente dicta esse quaerat praesentium!
    </p>
  </section>
  <div class="pimg1">
    <div class="ptext">
      <span class="border">
        Lets Get Started!
      </span>
    </div>
  </div>
  
  <div class="wrapper">
    <ul>
      <li><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></li>
      <li><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></li>
      <li><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></li>
      <li><i class="fa fa-google fa-2x" aria-hidden="true"></i></li>
      <li><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></li>
    </ul>
  </div>
</body>
</html>
